body {
    font-family: Helvetica, sans-serif;
    margin-left: 20px;
}

a {
    color: blue;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}